# Tiendanube OAuth Configuration
NEXT_PUBLIC_TIENDANUBE_CLIENT_ID=your_client_id_here
TIENDANUBE_CLIENT_SECRET=your_client_secret_here
NEXT_PUBLIC_TIENDANUBE_REDIRECT_URI=http://localhost:3000/api/auth/callback/tiendanube

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here

# Meta Pixel Configuration
NEXT_PUBLIC_META_PIXEL_ID=tu_pixel_id_aqui

# Production URLs (para Vercel)
# NEXT_PUBLIC_TIENDANUBE_REDIRECT_URI=https://tu-app.vercel.app/api/auth/callback/tiendanube
# NEXTAUTH_URL=https://tu-app.vercel.app
